<p id="notice"><%= notice %></p>
<div class="row">
  <h1>Artists</h1>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Twitter</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @artists.each do |artist| %>
        <tr>
          <td><%= artist.name %></td>
          <td><%= artist.twitter %></td>
          <td><%= link_to 'Show', artist_path(artist.id), class: 'btn btn-info text-white btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <td class="fw-bold">Total of <%= @artists.size %> Artists</td>
    </tfoot>
  </table>
</div>
