<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @artist.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @artist.twitter %>
</p>

<%= link_to 'Back', artists_path %>