<p id="notice"><%= notice %></p>
<div class="container">
  <h1>
    <%= @artist.name %>
  </h1>
</div>
<div class="col-md">
  <p>
    <strong>Twitter:</strong>
    <%= @artist.twitter %>
  </p>
</div>
<div class="row">
  <h1>Albums</h1>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Artist</th>
        <th>Name</th>
        <th>Year</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @albums.each do |album| %>
        <tr>
          <td><%= album.artist_id %></td>
          <td><%= album.name %></td>
          <td><%= album.year %></td>
          <td>
            <%= link_to 'Show', album, class: 'btn btn-info text-white btn-sm' %>
            <%= link_to 'Edit', edit_album_path(album), class: 'btn btn-warning text-white btn-sm' %>
            <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger text-white btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <td class="fw-bold">Total of <%= @albums.size %> Albuns</td>
    </tfoot>
  </table>
</div>
<div class="container">
  <%= link_to 'Back', artists_path %>
</div>
