<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 fixed-top">
  <div class="container">
    <%= image_tag 'rails-collection-music-logo.svg', class: 'd-inline-block align-text-top brand-image' %>
    <%= link_to "Rails Collection Music", root_path, class: 'navbar-brand bg-transparent' %>
    <button class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id='navmenu'>
      <ul class="navbar-nav ms-auto fw-bold">
        <li class="nav-item">
          <%= link_to "Artistas", artists_path, class: "nav-link bg-transparent" %>
        </li>
        <li class="nav-item">
          <%= link_to "Albums", albums_path, class: "nav-link bg-transparent" %>
        </li>
        <!-- Navbar dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle bg-transparent"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <%= current_user.username %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#">Hi, <%= current_user.full_name %></a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item bg-transparent" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
