<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Artist</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @albums.each do |album| %>
        <tr>
          <td><%= album.name %></td>
          <td><%= album.year %></td>
          <td><%= artist_name(album.artist_id) %></td>
          <td>
            <%= link_to 'Show', album, class: 'btn btn-primary text-white btn-sm fw-bold' %>
            <%= link_to 'Edit', edit_album_path(album), class: 'btn btn-secondary text-white btn-sm fw-bold' %>
            <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger text-white btn-sm fw-bold' %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <td class="fw-bold">Total of <%= @albums.size %> Albuns</td>
    </tfoot>
  </table>
</div>