<div class="container">
  <h1>
    <%= @album.name %>
  </h1>
</div>
<div class="col-md">
  <p>
    <strong>Artist:</strong>
    <%= artist_name(@album.artist_id) %>
  </p>
  <p>
    <strong>Year:</strong>
    <%= @album.year %>
  </p>
</div>
<div class="container">
  <%= link_to 'Edit', edit_album_path(@album), class: 'bg-transparent fw-bold' %> |
  <%= link_to 'Back', albums_path, class: 'bg-transparent fw-bold' %>
</div>
