<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-md-9 col-lg-6 col-xl-5">
    <div class="text-center">
      <h1>Welcome to <span class="text-success">Rails Collection Music</span></h1>
    </div>
    <p class="text-center lead my-4">
      Just a simple Ruby on Rails full stack app to manage music albums.
    </p>
    <p class="text-center lead my-4">Don't have an account?
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Join Now!", new_registration_path(resource_name), class: 'link-danger fw-bold' %><br />
      <% end %>
    </p>
    <%= image_tag 'rails-collection-music-logo.svg', class: 'img-fluid'%>
  </div>
  <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    <h2 class="text-center">Log in</h2>
    <div class="divider d-flex align-items-center my-4">
      <p class="text-center fw-bold mx-3 mb-0"></p>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <% flash.each do |type, message| %>
        <%= content_tag :div do %>
          <%= message %>
        <%end%>
      <% end %>
      <div class="form-outline mb-4">
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control form-control-lg", placeholder: "Username" %>
      </div>
      <div class="form-outline mb-3">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg", placeholder: "Password" %>
      </div>
      <div class="text-center text-lg-start mt-4 pt-2">
        <%= f.submit "Log in", class: "btn btn-primary btn-lg", style: "padding-left: 2.5rem; padding-right: 2.5rem;" %>
      </div>
    <% end %>
  </div>
</div>
