<!DOCTYPE html>
<html>
  <head>
    <title>RailsMusicCollectionApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- Navbar -->
    <%= render "layouts/shared/navbar" %>
    <!-- Main Content -->
    <section class="bg-light h-custom">
      <div class="container">
        <div class="row mt-5 mb-5 pb-5">
          <%= yield %>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <%= render "layouts/shared/footer" %>
  </body>
</html>
