<!DOCTYPE html>
<html>
  <head>
    <title>RailsMusicCollectionApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- NavBar -->
    <%= render "layouts/shared/devise/navbar" %>
    <!-- Main content -->
    <section class="bg-light bg-opacity-10 vh-100 p-5 pt-lg-5 text-center text-sm-start">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="container">
            <% flash.each do |key, message| %>
              <div class="alert <%= flash_class(key) %> alert-dismissible fade show text-center my-4" role="alert">
                <%= message %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% end %>
          </div>
          <%= yield %>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <%= render "layouts/shared/footer" %>
  </body>
</html>
