<!DOCTYPE html>
<html>
  <head>
    <title>RailsMusicCollectionApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
      <div class="container">
        <a href="#" class="navbar-brand">
          Rails Collection Music
        </a>
        <button class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id='navmenu'>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="https://gitlab.com/rvlaraujo/rails_music_collection_app" target="_blank" class="nav-link">GitLab Repository</a>
            </li>
            <li class="nav-item">
              <a href="#" target="_blank" class="nav-link">GitHab Repository</a>
            </li>
            <li class="nav-item">
              <a href="https://gitlab.com/-/snippets/2167416" target="_blank" class="nav-link">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Main content -->
    <section class="bg-light bg-opacity-10 vh-100 bg-light p-5 pt-lg-5 text-center text-sm-start">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <%= yield %>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer class="footer mt-auto bg-primary text-white text-center text-lg-start">
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="container">
          <div class="text-center p-4">
            <p class="lead">Developed by <a href="https://www.linkedin.com/in/rafael-viana-75529b32/" target="_blank" class="me-4 text-reset">rvlaraujo</a></p>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
