<!DOCTYPE html>
<html>
  <head>
    <title>RailsMusicCollectionApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/shared/devise/navbar" %>
    <!-- Main content -->
    <section class="bg-light bg-opacity-10 vh-100 bg-light p-5 pt-lg-5 text-center text-sm-start">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <%= yield %>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <%= render "layouts/shared/devise/footer" %>
  </body>
</html>
